<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f4e61e1e-a4b0-4b9e-bcba-6f6de19ee81d/resourcegroups/ews-starter/providers/Microsoft.Web/sites/MyDiary20180823123632</ResourceId>
    <ResourceGroup>ews-starter</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mydiary20180823123632.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mydiary20180823123632.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyDiary20180823123632</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyDiary20180823123632</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ewssqlserver.database.windows.net,1433;Initial Catalog=MyDiary;Persist Security Info=False;User ID=gm;Password=nooch3Rm;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ewssqlserver.database.windows.net,1433;Initial Catalog=MyDiary;Persist Security Info=False;User ID=gm;Password=nooch3Rm;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyDiary.Models.MobileServiceContext, MyDiary" MigrationConfiguration="MyDiary.Migrations.Configuration, MyDiary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:ewssqlserver.database.windows.net,1433;Initial Catalog=MyDiary;Persist Security Info=False;User ID=gm;Password=nooch3Rm;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>